
* {
    color: #ccc !important;
}

::selection {
    color: #ccc;
    background: #545454;
}

a.datenschutz,
a.impressum {
    color: #ccc !important;
    text-decoration: none;
}

.formulation,
.info,
a.datenschutz:hover,
a.impressum:hover {
    color: #ccc !important;
}

a:hover {
    border-bottom: 3px solid #ccc !important;
}

#action-menu-1-menu,
td.cell,
#region-main,
#page-footer,
#nav-drawer,
.dropdown-menu,
.card-body,
.navbar-light {
    background-color: #1c1c1c !important;
}

#action-menu-toggle-1 {
    border-bottom: 0 solid transparent !important;
}

.quizreviewsummary * {
    background-color: transparent !important;
}

.outcome,
.quizreviewsummary,
.formulation,
.info,
.custom-select,
.yui3-tabview-panel,
input[type=button],
select#filename,
.form-control,
.select,
.list-group-item,
.btn,
.col-12,
#page.container-fluid,
.yui3-tab-focused,
.yui3-tab-selected,
.page-link {
    background-color: #2d2d2d !important;
}

.page-link:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #ccc !important;
}

.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label,
.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label:focus,
.yui3-skin-sam .yui3-tabview-content .yui3-tab .yui3-tab-label:hover {
    background: none;
}
.yui3-tabview-selected {
    background-color: #ffffff !important;
}

.moodle-dialogue-wrap,
.moodle-dialogue-base {
    background-color: #4c4c4c !important;
}